@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
    color: black !important
}

.brand-logo, h2 {
    font-family: 'Grand Hotel', cursive;
    margin-left: 5px;
}

.mycard {
    margin-top: 30px;
}

.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 30%;
}

.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

#post-create-card {
    margin: 30px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

#toast-container {
    top: 30px !important;
    right: 20px !important;
    left: auto !important;
}

.material-icons:hover {
    cursor: pointer;
}

.postHeader {
    display: flex;
    padding: 5px;
    align-items: center;
}

.postedByHeader {
    margin: 0;
    margin-left: 0.5vw;
}

.postedByHeader a {
    white-space: nowrap;
}

.postedByImage {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}

.deleteBtnContainer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.commentBlock {
    display: flex;
    margin-top: 0.5vh;
}

.commentBlock h6 {
    margin: 0;
    display: flex;
    align-items: center;
}

.commentPoster {
    font-weight: bold;
    margin-left: 0.25vw;
}

.commentContents {
    margin-left: 0.25vw;
}